header {
  position: relative;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 200;
  background-color: rgb(255, 255, 255);

  @media screen and (min-width: 768px) {
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px;
  }

  .logo {
    margin: 10px 20px;

    svg {
      width: 189px;
      height: 26px;
      display: block;
      margin: 0 auto;

      @media screen and(min-width: 768px){
        width: 225px;
        height: 30px;
      }
    }

    .fa-bars {
      position: absolute;
      padding-top: 5px;
    }

    .fa-user {
      float: right;
      padding-top: 5px;
    }
  } // end of logo

  .subscribe-login {
    width: 100%;
    float: right;
    padding: 5px 20px;
    border-top: 1px solid #ebebeb;

    a {
      font-size: 10px;
      float: right;

      &:first-child {
        padding-left: 10px;
      }

      &:last-child {
        padding-right: 10px;
        border-right: 1px solid #e2e2e2;
      }
    } // end of a
  } // end of subscribe-login
} // end of header
