@import 'variables.scss';

.image-with-description {

  img {
    @media screen and (min-width: 1024px) {
      width: 90%;
      display: block;
      margin: auto;
    }
  }

  h1 {
    display: inline-block;
    margin: 40px auto 4% 4%;
    font-style: italic;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;

    @media screen and (min-width: 768px){
      display: block;
      width: 80%;
      margin: 150px auto 2% 10%;
      font-size: 30px;
    }

    span {
      font-size: 30px;
    }
  }

  .description {
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    line-height: 1.5;
    font-size: 12px;
  }

  .author {
    font-size: 10px;
    font-weight: 300;
    color: #999;
  }
} // end of image-with-description
