.nav {
  width: 90%;
  margin: 10px auto;

  @media screen and (min-width: 1024px) {
    width: 100%;
  }

  .header {
    
      border-top: 2px solid #e2e2e2;
      padding-top: 10px;
    

    @media screen and (min-width: 1024px) {
      padding-left: 3%;
    }

    svg {
      width: 189px;
      height: 26px;
    }

    a {
      float: right;
      
      @media screen and (min-width: 1024px) {
        padding-right: 3%;
      }
    }
  }

  .links {
    @media screen and (min-width: 1024px) {
      padding: 0 3% 0 3%;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: -10px;

      li {
        padding: 15px 0;
        font-weight: 600;
        border-top: 1px solid #ebebeb;

        &:last-child {
          border-bottom: 1px solid #ebebeb;
        }
      }
    } // end of ul
  } // end of links
} // end of nav-bar
