.story-by-author {
  width: 100%;
  height: 100%;
  margin-top: 40px;

  .story {
    width: 90%;
    margin: 0 auto;
    line-height: 1.47;
    font-size: 16px;
    color: #424949;

    @media screen and (min-width:768px) {
      width: 80%;
    }

    @media screen and (min-width: 1024px) {
      width: 60%;
    }

    @media screen and (min-width: 1440px) {
      width: 40%;
    }

    .author {
      font-size: 12px;
      font-weight: 700;
      color: black;
    }
  
    .date {
      display: inline-block;
      margin-bottom: 20px;
      font-size: 12px;
      font-weight: 300;
    }
  
    .icons {
      float: right;
      font-size: 20px;
  
      .fa-bookmark {
        margin: 0 10px;
      }
    } // end of icons

    .fulltext {
      .more,
      .less {
        display: block;
        width: 250px;
        height: 40px;
        margin: 20px auto;
        font-size: 15px;
        font-weight: bold;
        color: rgb(50, 104, 145);
        background: rgb(237, 242, 245);
        border: 1px solid rgb(147, 171, 188);
        border-radius: 3px;
      }

      h1 {
        font-weight: 900;
        margin: 30px 0 5px 0;
        font-size: 18px;
        
        span {
          font-size: 20px;
        }
      }

      h4 {
        font-weight: 900;
        margin: 30px 0 15px 0;
      }

      .row {
        img {
          width: 150px;
          height: 118px;
        }

        .third-pic {
          display: none;

          @media screen and (min-width:768px) {
            display: block;
          }
        } // end of third-pic
      } // end of row

      .authors {
        font-size: 13px;
        margin: 50px 0;

        .name {
          display: inline-block;
          border-top: 1px solid black;
          padding-top: 15px;
        }
      } // end of authors

      .youtube-video {
        iframe {
          @media screen and (min-width: 768px) {
            height: 319px;
          }
        }
      } // end of youtube-video

      .video-description {
        width: 100%;

        .video-by {
          display: inline-block;
          font-size: 10px;
          color: #999;
        }
      } // end of video-description

      .picture-by {
        display: block;
        font-size: 10px;
        color: #999;
      }

      .about-video {
        margin-top: 30px;
      }

      .telescope-image {
        width: 100%;
      } 

      .time-of-release {
        font-size: 10px;
        color: #999;
      }

      .social-networks {
        margin: 20px 0 35px 0;
        font-size: 20px;

        .fa-twitter-square,
        .fa-share {
          margin: 0 15px;
        }
      }

      .line {
        width: 100%;
        border: 0.5px solid rgb(0, 0, 0);
      }

      .sign-up-section {
        @media screen and (min-width: 768px){
          width: 100%;
        }

        img {
          width: 70%;
          height: 20%;
        }
      }

      input[type=email] {
        width: 100%;
        height: 40px;
        margin: 20px 0 5px 0;
        padding: 4px 4px 4px 8px;
        font-size: 13px;
        font-weight: 700;
        border-radius: 4px;
        box-shadow: none;
        border: 1px solid rgb(226, 226, 226);
      }

      input[type=checkbox] {
        position: absolute;
      }

      .terms {
        font-size: 11.5px;
        display: inline-block;
        position: relative;
        padding-left: 20px;
      }

      .sign-up-button {
        width: 100%;
        height: auto;
        margin: 20px 0 10px 0;
        padding: 10px;
        font-size: 13px;
        font-weight: 700;
        border: 1px solid rgb(98, 136, 165);
        border-radius: 4px;
        color: rgb(98, 136, 165);
        background: rgb(255, 255, 255);
      }

      .contact {
        font-size: 9px;
        font-weight: 400;
        margin-bottom: 50px;

        .contact-us {
          border-right: 1px solid grey;
          border-left: 1px solid grey;
        }
      }

      h1,
      h4,
      p,
      div,
      input,
      img,
      span,
      span.picture-by,
      span.terms,
      .sign-up-button,
      .less
         {
        display: none;
      }

      &:target h1,
      &:target h4,
      &:target p,
      &:target div,
      &:target input,
      &:target img,
      &:target span,
      &:target .sign-up-button,
      &:target .less,
                 {
        display: block;
      }

      &:target .more {
        display: none;
      }
    } // end of fulltext
  } // end of story

  .white-rectangle {
    padding-top: 30px;
  }

  .rectangle {
    border-top: 1px solid #e2e2e2;
    padding-top: 20px;
    background-color: #f7f7f7;
  }
} // end of story-by-author
