.text-by-author {
  width: 90%;
  height: 100%;
  margin: 40px auto 0 auto;

  a {
    font-size: 12px;
    font-weight: 700;
    color: black;
  }

  .date {
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
  }

  .icons {
    float: right;
    color: #666;
    font-size: 20px;

    .fa-bookmark {
      margin: 0 10px;
    }
  }

  .text {
    margin-top: 30px;
    line-height: 1.47;
    font-size: 16px;
    color: #424949;
  }
} // end of text-by-author
