.link-decoration {
  text-decoration: none;
  color: rgb(50, 104, 145);
}

.blue {
  color: rgb(50, 104, 145);
}

.black {
  color:  black;
}

.fs-12 {
  font-size: 12px;
}

.mt-10 {
  margin-top: 10px;
}

.pr-5 {
  padding-right: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}
